@{
    ViewBag.Title = "OPSMC-RePlay (Powered by PCHI)";
}

        <div class="pchi-Intro">
            <p>Hi Team! Welcome to the demo <strong>RePlay</strong> website.</p>
            <p>
                Although most pieces are ready, we are still in the process of putting them together, which is a complex task. So please bear with us if not everything looks 100% finished yet.
            </p>
            <p>We have our graphic designer busily tidying up loose ends; and the integration team is working at full steam.</p>
            <p>Some pages are only interim substitutes for VIP, so they are on purpose quite simple. That functionality is expected to be delivered over the VIP interface soon.</p>
            <p>Okay – enough talking! Please enjoy the demo.</p>
        </div>

