<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="EmailServiceConfiguration" type="PCHI.BusinessLogic.Utilities.EmailServiceConfiguration" allowLocation="true" allowDefinition="Everywhere"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PCHI.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <EmailServiceConfiguration SmtpHost="mail.dovuge.com.au" SmtpPort="25" SmtpUser="emailer@dovuge.com.au" SmtpPassword="DSPr1m@" SmtpFromAddress="emailer@dovuge.com.au"/>
  <applicationSettings>
    <PCHI.BusinessLogic.Properties.Settings>
      <setting name="MaxFailedAccessAttemptsBeforeLockout" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WebsiteUrl" serializeAs="String">
        <value>http://localhost:55239</value>
      </setting>
      <setting name="LockoutTimeSpan" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="NewRegistrationQuestionnaire" serializeAs="String">
        <value>OPSMCFirstAppointment</value>
      </setting>
      <setting name="CurrentConditionQuestionnaire" serializeAs="String">
        <value>OPSMCCurrentCondition</value>
      </setting>
      <setting name="SecuredAccessServerName" serializeAs="String">
        <value>cyberpowersyste</value>
      </setting>      
    </PCHI.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="MainContext" connectionString="data source=localhost;initial catalog=PCHI;Trusted_Connection=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="DSPrima.SessionContext" connectionString="data source=localhost;initial catalog=PCHI;Trusted_Connection=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ServiceVersion" value="1" />
    <add key="ServiceName" value="PCHIWcfDev" />
    <add key="ServiceInstance" value="Dev" />
    <add key="Demo" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
    <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http" bindingConfiguration="BasicHttpBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
    <!--<serviceHostingEnvironment  multipleSiteBindingsEnabled="true"/>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing, Critical, Error, Warning, Verbose" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\DS Prima\PCHI\Main\Log\Server.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
