<% content_for :head do %>
   <script>
      jQuery(document).ready(function($){
         $("#_page_right_column").height($("#_page").height() + 40);
      });
   </script>
<% end %>
<div id="_page_right_column">
   <!-- RIGHT BLOCK -->
</div>