
@{
    ViewBag.Title = "Registration Completed";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Registration Completed</h2>
Your registration is now completed.
Please click the login button at the top to login and being your recovery.
