@model IEnumerable<WebsiteSupportLibrary.Models.PatientModel>

@{
    ViewBag.Title = "Physician";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-Admin.css")" />
}
<div class="MainContent">
    <h2>VIP Practitioner</h2>

    @Html.Action("SearchPatients", "Controls", new { action = ViewContext.RouteData.Values["action"], controller = ViewContext.RouteData.Values["controller"], mandatoryFields = string.Empty })

    @if (Model != null && Model.Count() > 0)
    {
        
        @Html.Partial("SearchTable", Model, new ViewDataDictionary { { "ActionName", "CurrentCondition" }, { "LinkText", "View Patient" } });
    }
    else if (Model != null)
    {
        <div>
            Your search produced no results.
        </div>
    }
</div>