@model IEnumerable<WebsiteSupportLibrary.Models.PatientModel>

@{
    ViewBag.Title = "Telephonist";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-Admin.css")" />
}
<div class="MainContent">
    <h2>VIP Booking</h2>

    @Html.Action("SearchPatients", "Controls", new { action = ViewContext.RouteData.Values["action"], controller = ViewContext.RouteData.Values["controller"] })
    @if (Model != null && Model.Count() > 0)
    {
        @Html.Partial("SearchTable", Model, new ViewDataDictionary { { "ActionName", "Patient" }, { "LinkText", "Select" } });
    }
    else if (Model != null)
    {
        <div>
            Your search produced no results.
        </div>
    }

    @if (Model != null)
    {
        <p>
            @if (TempData.ContainsKey("Patients"))
            {
                @Html.ActionLink("Create New Patient", "CreatePatient")
            }
        </p>
    }

    </div>

