@Html.Partial("PopupStart", null, ViewData)
<div>
    <span class="MainTitle">Please type the email associated with the account</span> <br />
    <br />

    @using (Html.BeginForm("ForgotPassword", "Access"))
    {
        <div class="pchi-roles">
            <fieldset>
                An email will be sent to this address with the following steps to reset your password
                <ol style="list-style-type: none;">
                    <li>
                        <input type="text" name="emailForgottenPassword" class="input-email" />
                        <input type="submit" value="Send email" class="submit-email">
                    </li>
                </ol>
            </fieldset>
        </div>
    }

</div>
@Html.Partial("PopupEnd")

