@{
    ViewBag.Title = "Registration Completed";
}

<!-- Content panel Begins-->
<div id="content">
    <!-- RePLAY's Content-->
    <div class="gridContainer clearfix">
        <div id="div1" class="fluid">
            <!--Page-->

            <div data-role="page" id="myRePLAY" class="white">
                <div data-role="header">
                    <!--data-position="fixed"-->

                    <div id="page-title">@ViewBag.Title</div>
                    <!--Starts Conten-->

                    <div id="RePlay-logo"><a href="/Access/Login" target="_self"><img src="~/Content/Images/RePLAYlogo_logo-Header.png" height="45px" alt="" /></a></div>
                </div>
                <div data-role="content" class="content-frame" style="position: absolute; overflow-y: auto; left: 0px; right: 0px; top: 70px; bottom: 0px;background-color: #ddd;">

                    <div id="main-dashboard" class="main-dashboard">
                        <div class="intro-dashboard">
                            <p>
                                Your registration is now completed.
                            </p>
                            <p>
                                Please click the login button at the top to login and being your recovery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
