<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <h1><span class="glyphicon glyphicon-leaf" style="color:white"></span></h1>
    </a>
    <h1>Body Weight App</h1>
    <p>This is a test Node app. With reference to the body Mass Index measurements <a href="https://en.wikipedia.org/wiki/Body_mass_index">https://en.wikipedia.org/wiki/Body_mass_index</a>.</p>
    <a type="button" class="btn btn-lg btn-default" href="/register"><span class="glyphicon glyphicon-flash"></span> Register</a>
    <a type="button" class="btn btn-lg btn-primary" href="/login"><span class="glyphicon glyphicon-user"></span> Login</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Source Code <a href="https://github.com/emilseuor/node-test" class="alert-link">Github URL</a>. Test Description <a class="alert-link" href="https://gist.github.com/JonaMX/d29a754ae625664b0cf7">here</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Database credentials</h3>
      <ul>
        <li><strong>Host</strong> ec2-54-243-185-132.compute-1.amazonaws.com</li>
        <li><strong>Database</strong> dveesrv6bri7s</li>
        <li><strong>User</strong> spjesmkdrwvsgl</li>
        <li><strong>Port</strong> 5432</li>
        <li><strong>Password</strong> c128f82986f76fb439df0cc4df77937c116051c4d03b21ebb0f151d854ddab7d</li>
        <li><strong>URI</strong> postgres://spjesmkdrwvsgl:c128f82986f76fb439df0cc4df77937c116051c4d03b21ebb0f151d854ddab7d@ec2-54-243-185-132.compute-1.amazonaws.com:5432/dveesrv6bri7s</li>
      </ul>
    </div>
    <div class="col-md-6">
      
    </div>
  </div> <!-- row -->
  <br />
   <div class="alert alert-info text-center" role="alert">
    Please Login Before you use the Body Weight App.
  </div>
</div>


</body>
</html>
