<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://swd-dev1:11000/ProService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Questionnaire.IProService" name="IProService"></endpoint>
      <endpoint address="http://swd-dev1:11000/QuestionnaireService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Questionnaire.IQuestionnaireService" name="IQuestionnaireService" />
      <endpoint address="http://swd-dev1:11000/QuestionnaireFormatService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Questionnaire.IQuestionnaireFormatService" name="IQuestionnaireFormatService" />
      <endpoint address="http://swd-dev1:11000/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Users.IUserService" name="IUserService" />
      <endpoint address="http://swd-dev1:11000/PatientService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Users.IPatientService" name="IPatientService" />
      <endpoint address="http://swd-dev1:11000/PatientEpisodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Users.IPatientEpisodeService" name="IPatientEpisodeService" />
      <endpoint address="http://swd-dev1:11000/ServiceDetails.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Service.IServiceDetails" name="IServiceDetails" />
      <endpoint address="http://swd-dev1:11000/ServiceCalls.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="PCHI.WcfServices.API.PCHIServices.InterfaceContracts.Service.IServiceCalls" name="IServiceCalls"></endpoint>
    </client>
  </system.serviceModel>
</configuration>