{% extends "dashboard_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}Change Password | Export Abroad{% endblock %}
{% block body %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/universal/forms.css' %}">
    <style>
        #nav-link-overview,
        #nav-link-data,
        #show-lead-request,
        #nav-link-hs,
        #nav-accounts{
            display:none;
        }
    </style>
{% endblock %}


<main class="nosidebar nosubnav">

	<div id="form-wrapper">

        <img src="{% static 'main/universal/visuals/globe.png' %}" id="form-globe" onclick="location.href='/'">

        <h1>Change Password</h1>


        <p id="form-instructions">Your password is now changed.</p>

    </div>

</main>
{% endblock %}
