{% extends "dashboard_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}Change Password | Export Abroad{% endblock %}
{% block body %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/universal/forms.css' %}">
    <style>
        #nav-link-overview,
        #nav-link-data,
        #show-lead-request,
        #nav-link-hs,
        #nav-accounts{
            display:none;
        }
    </style>
{% endblock %}


<main class="nosidebar nosubnav">

	<div id="form-wrapper">

        <img src="{% static 'main/universal/visuals/globe.png' %}" id="form-globe" onclick="location.href='/'">

        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p id="form-instructions">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action=".">
                <form method="POST" action="." class="password_reset">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans "change password" %}"/>
                    <button type="submit" name="action" />Change Password</button>

                </form>
            {% else %}
                <p id="form-instructions">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}


    </div>

</main>
{% endblock %}
