{% extends "dashboard_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}Forgot Password | Export Abroad{% endblock %}
{% block body %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/universal/forms.css' %}">
    <style>
        #nav-link-overview,
        #nav-link-data,
        #show-lead-request,
        #nav-link-hs,
        #nav-accounts{
            display:none;
        }
    </style>
{% endblock %}


<main class="nosidebar nosubnav">

	<div id="form-wrapper">

        <img src="{% static 'main/universal/visuals/globe.png' %}" id="form-globe">
        <h1>Password Reset</h1>
        <p id="form-instructions">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

    </div>

</main>
{% endblock %}
