<footer class="mainFooter">
    <div class="footer-nav">
        <ul>
            <li><img src="~/Content/images/phone-icon.png" width="20" height="20" alt="Call us" style="vertical-align:middle;" /> 1300 859 887 </li>
            <li class="footerSeparator">or</li>
            <li><a href="mailto:opsmc@opsmc.com.au"><img src="~/Content/images/email-icon.png" width="20" height="20" alt="Email us" style="vertical-align:middle;" /> opsmc@opsmc.com.au </a></li>
            <li class="footerSeparator">|</li>
            <li>@Html.ActionLink("About RePLAY", "About", "About")</li>
            <li class="footerSeparator">-</li>
            <li><a href="#"> OPSMC Privacy Policy </a></li>
            <li class="footerSeparator">-</li>
            <li><a href="#"> RePLAY Terms and Conditions </a></li>
            <li class="footerSeparator">|</li>
            <li>Powered by <img src="~/Content/images/dsprima-icon.png" width="18" height="18" alt="Email us" style="vertical-align:middle;" /> DS Prima</li>
        </ul>
    </div>
</footer>