@{
    Layout = null;
}

<div class="Msg-Window">

    <div class="opsmcBubble">
        Hello there! Please tell me your name... <br>
        (only type your full name)
    </div>

    <div class="userBubble">
        <div class="edit-Icon"><a href="#"><img src="Content/Images/chat/btn-Edit.png" width="46" height="46" alt="" /></a>Edit</div>
        <div>Pedro Chan</div>
    </div>
    <div class="opsmcBubble skipBubble">
        <div class="skipped-Icon"><a href="#"><img src="Content/Images/chat/btn-Skipped.png" width="46" height="46" alt="Click to answer" /></a>Skipped</div>
        <div class="text-cont">Thank you. Now, could you please tell me your birth date and your address</div>
    </div>
    <p class="opsmcBubble currentBubble">
        Please, tell me how would you describe the worst pain you have had from your shoulder?<br />
    </p>

    <div class="userBubble">Pain prevents me from lifting heavy weights, but I can manage light to medium weights if they are conveniently positioned</div>

    <div class="Msg-Box">
        <div class="User-Avatar"></div>
        <table width="200">
            <tr>
                <td>
                    <label>
                        <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0">
                        Checkbox
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" name="CheckboxGroup1_" value="checkbox" id="CheckboxGroup1_1">
                        Checkbox
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" name="CheckboxGroup1_" value="checkbox" id="CheckboxGroup1_2">
                        Checkbox
                    </label>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" class="Msg-Send" value="Send">
        </div>
        <div class="skipLink"><a href="#">skip it</a></div>
    </div>
    <div class="spacer">&nbsp;</div>
</div>
