<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/weight"><span class="glyphicon glyphicon-leaf"></span> Body Weight App</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/register"><span class="glyphicon glyphicon-fire"></span> Register</a>
      </li>
    </ul>
  </div>
</nav>
