@model IEnumerable<WebsiteSupportLibrary.Models.PatientModel>

@{
    ViewBag.Title = "SelectPatient";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/CSS/PCHI-Admin.css")" />
}

<div class="pchi-Intro no-overflow">
    <span class="pchi-IntroTitle">Select a patient.</span> <br />
    <br />
    @using (Html.BeginForm("SelectPatient", "Patient", FormMethod.Post))
    {
        List<WebsiteSupportLibrary.Models.PatientModel> Model = TempData["Patients"] as List<WebsiteSupportLibrary.Models.PatientModel>;
        if (Model != null && Model.Count() > 0)
        {
            @Html.Partial("SearchTable", Model, new ViewDataDictionary { {"ActionName", "Index"}, {"LinkText", "Select"} });
        }
    }

</div>
