<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db.connectionString" value="Data Source=000.000.000.000,00000;User ID=sa;Password=XXXXXXX;Initial Catalog=NG_OnlineG;"/>
    <add key="db.name" value="NG_OnlineG"/>
    <add key="db.oldname" value="XXXX"/>
    <add key="db.padron" value="NG"/>

    <add key="g.midx" value="490"/>
    <add key="g.midy" value="300"/>
    <add key="g.bufferWidth" value="1600" />
    <add key="g.bufferHeight" value="900" />
    <add key="g.scale" value="3.0"/>
    <add key="g.camera.initialDistance" value="100"/>
    <add key="g.world.scale" value="0.05"/>
  </appSettings>
</configuration>