@{
    ViewBag.Title = "Index";
}

<div class="pchi-Intro">
    <p>Welcome to <strong>RePLAY</strong>’s VIP “role play” demo site.</p>
    <p>
        Its purpose is to supply interim access to functionality that will otherwise be supplied via the VIP application.
    </p>
    <p>
        <strong>Note that these"role play" pages will not be part of the finished product</strong>.
    </p>
</div>