{% extends "basex.html" %}
{% load static from staticfiles %}
{% block title %}Pricing | Export Abroad{% endblock %}

{% block extra_head %}
<META http-equiv="refresh" content="0;URL=/contact/">
{% endblock %}

{% block body %}


<section style="background-color:#F4F9FD;">



    <div class="pricing_selector pricing_faded" style="-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);">
        <div class="pricing_overview">
            <h2>Single</h2>
            <sup>$</sup>
            <h3>249</h3>
            <small>/MO</small>
            <h4>Month-to-month pricing, save 20% if you purchase annually</h4>
        </div>
        <ul>
            <li><b>1</b> user</li>
            <li>Research and monitor up to <b>5</b> products</li>
            <li>Unlimited projects</li>
            <li>Unlimited lead tracking</li>
            <li>Access to Export Abroad knowledge base</li>
            <li class="unavail">Assigned international trade expert</li>
            <li class="unavail">Up to 5 vetted customer leads per month</li>
            <li class="unavail">Additional data sets curated by our team</li>
            <li class="unavail">Dedicated support and onboarding</li>
        </ul>
    </div><!--
    --><div class="pricing_selector"  style="-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);">
        <div class="pricing_overview">
            <h2>Team</h2>
            <sup>$</sup>
            <h3>799</h3>
            <small>/MO</small>
            <h4>Month-to-month pricing, save 20% if you purchase annually</h4>
        </div>
        <ul>
            <li><b>Unlimited</b> users</li>
            <li>Research and monitor up to <b>10</b> products</li>
            <li>Unlimited projects</li>
            <li>Unlimited lead tracking</li>
            <li>Access to Export Abroad knowledge base</li>
            <li>Assigned international trade expert</li>
            <li>Up to 5 vetted customer leads per month</li>
            <li class="unavail">Additional data sets curated by our team</li>
            <li class="unavail">Dedicated support and onboarding</li>
        </ul>
    </div><!--
    --><div class="pricing_selector pricing_faded"  style="-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);">
        <div class="pricing_overview" id="pricing_large">
            <h2>Enterprise</h2>
            <h6 id="enterprise_sub">Starting At</h6>
            <sup>$</sup>
            <h3 id="enterprise_price">1999</h3>
            <small>/MO</small>
            <h4>Month-to-month pricing, save 20% if you purchase annually</h4>
        </div>
        <ul>
            <li><b>Unlimited</b> users</li>
            <li>Research and monitor <b>unlimited</b> products</li>
            <li>Unlimited projects</li>
            <li>Unlimited lead tracking</li>
            <li>Access to Export Abroad knowledge base</li>
            <li>Assigned international trade expert</li>
            <li>Up to 5 vetted customer leads per month</li>
            <li>Additional data sets curated by our team</li>
            <li>Dedicated support and onboarding</li>
        </ul>
    </div>

    <div id="pricing_most_popular">
        Most Popular
    </div>

    <div class="c_t_a" id="pricing_cta">
        <h1>Ready to get started? Click below to schedule a demo.<br/><a style="background-color:#F3F9FE;" href="/accounts/login#request">Request a demo</a></h1>
    </div>


</section>


{% endblock %}
