{% extends "basex.html" %}
{% load static from staticfiles %}
{% block title %}Team | Export Abroad{% endblock %}


{% block body %}



<div id="team_hero">

    <h1 style="padding-bottom: 80px; font-size: 32pt; opacity:0.75; width:60%; line-height:1.47em;">
        <small>WE HAVE ONE GOAL:</small><br/>MAKE IT EASY FOR COMPANIES TO GROW GLOBALLY.
    </h1>

    <h2>About Us</h2>
    <p id="team_paragraph">
        Export Abroad is changing the way international trade is done.  By connecting international manufacturers to new partners across the globe, we continue to democratize simpler trade and make the world more accessible.  From a simple idea between two guys working in logistics to building a leading platform in export management and international sales, Export Abroad continues to expand globally in order for any and all manufacturers to achieve their business goals.
    </p>

</div>
<!--

<section style="background-color:#fff;">

    <h1 class="sec_header" style="margin-bottom:30px;">Our Experience</h1>

    <div id="member_wrapper">
        <div class="member">
            <img src="{% static 'img/team/austin.jpg' %}">
            <h2>Austin<i>Grandt</i></h2>
            <h3>Co-Founder, CEO</h3>
            <h4><a href="http://twitter.com/austingrandt" target="_blank"><i class="ion-social-twitter"></i></a><a href="https://www.linkedin.com/in/austingrandt" target="_blank"><i class="ion-social-linkedin"></i></a></h4>
        </div>
        <div class="member">
            <img src="{% static 'img/team/willy.jpg' %}">
            <h2>Willy<i>Hakizimana</i></h2>
            <h3>Co-Founder, CTO</h3>
            <h4><a href="https://twitter.com/willyhakim" target="_blank"><i class="ion-social-twitter"></i></a><a href="https://www.linkedin.com/pub/william-hakizimana/2/4b7/114" target="_blank"><i class="ion-social-linkedin"></i></a></h4>
        </div>
        <div class="member">
            <img src="{% static 'img/team/mitch.jpg' %}">
            <h2>Mitch<i>Samuels</i></h2>
            <h3>Front End Engineer</h3>
            <h4><a href="http://twitter.com/sleumasm" target="_blank"><i class="ion-social-twitter"></i></a><a href="http://www.linkedin.com/in/mitchas" target="_blank"><i class="ion-social-linkedin"></i></a></h4>
        </div>
        <div class="member">
            <img src="{% static 'img/team/hayden.png' %}">
            <h2>Hayden<i>Peters</i></h2>
            <h3>Biz Dev Lead</h3>
            <h4><a href="http://twitter.com/hayden_scott_" target="_blank"><i class="ion-social-twitter"></i></a><a href="http://linkedin.com/in/haydenp" target="_blank"><i class="ion-social-linkedin"></i></a></h4>
        </div>
        <div class="member">
            <img src="{% static 'img/team/pam.jpg' %}">
            <h2>Pamela<i>Pan</i></h2>
            <h3>Data Analyst</h3>
            <h4><a href="#" target="_blank"><i class="ion-social-twitter"></i></a><a href="https://www.linkedin.com/pub/pamela-pan/99/393/523" target="_blank"><i class="ion-social-linkedin"></i></a></h4>
        </div>

    </div>






</section>-->



{% endblock %}
