@Html.Partial("PopupStart", null, ViewData)
<div>
    @Html.Partial("Notifications")
    <span class="MainTitle">You have to fill in the authentication code which has been sent to you for verification purposes.</span> <br />
    <br />
    <div class="">
        <input type="hidden" id="resendCode" name="resendCode" />
        <input type="text" name="authenticationCode" placeholder="Write your code here" style="width:60%" /> <input type="submit" value="send" />
        <input type="submit" value="Resend Code" onclick="document.getElementById('resendCode').value = 'true'" />
    </div>
</div>
@Html.Partial("PopupEnd")
<script>

    function resendCode() {
        document.getElementById("resendCode").value = "true";
    }
    $('[placeholder]').focus(function () {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
            input.val('');
            input.removeClass('placeholder');
        }
    }).blur(function () {
        var input = $(this);
        if (input.val() == '' || input.val() == input.attr('placeholder')) {
            input.addClass('placeholder');
            input.val(input.attr('placeholder'));
        }
    }).blur();

    $('[placeholder]').parents('form').submit(function () {
        $(this).find('[placeholder]').each(function () {
            var input = $(this);
            if (input.val() == input.attr('placeholder')) {
                input.val('');
            }
        })
    });

</script>
